
.main__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .main__buttonContainer {
    margin-top: 20px;
  }
}


.main__field__container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

